# Working with Lists

4-1. Pizzas

In [1]:
# Think of at least three kinds of your favorite pizza. Store these
# pizza names in a list, and then use a for loop to print the name of each pizz
pizzas=["papperoni","chicken fajita","crudo","marinana"]
for pizza in pizzas:
    print(pizza)

papperoni
chicken fajita
crudo
marinana

In [2]:
# Modify your for loop to print a sentence
for pizza in pizzas:
    print(f"My favourite pizza is {pizza}")

# Add a line at the end of your program, outside the for loop
print("I really love pizza!")

My favourite pizza is papperoni
My favourite pizza is chicken fajita
My favourite pizza is crudo
My favourite pizza is marinana
I really love pizza!

4-2. Animals

In [3]:
# Store the names of three animals in a list,
animals=["cat","lion","leoperd"]
for a in animals:
    print(a)

cat
lion
leoperd

In [4]:
for a in animals:
    print(f"A {a} would make a great pet.")
# Add a line at the end of your program
print("Any of these animals would make a great pet!")

A cat would make a great pet.
A lion would make a great pet.
A leoperd would make a great pet.
Any of these animals would make a great pet!

4-3. Counting to Twenty

In [5]:
for num in range(1,21):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

4-4. One Million

In [2]:
alist=list(range(10_0001))

4-5. Summing a Million

In [7]:
min(alist)

0

In [8]:
max(alist)

100000

In [9]:
sum(alist)

5000050000

4-6. Odd Numbers

In [10]:
odd_num=list(range(1,21,2))
for a in odd_num:
    print(a)

1
3
5
7
9
11
13
15
17
19

4-7. Threes

In [11]:
threes=list(range(3,31,3))
for a in threes:
    print(a)

3
6
9
12
15
18
21
24
27
30

4-8. Cubes

In [12]:
a=list(range(1,11))
cubes=[]
for b in a:
    cubes.append(b**3)
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [13]:
cubes=[]
for cube in range(1,11):
    cubes.append(cube**3)
for aa in cubes:
    print(aa)

1
8
27
64
125
216
343
512
729
1000

4-9. Cube Comprehension

In [14]:
cubes=[aa**3 for aa in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [15]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

4-10. Slices

In [19]:
print("First three items in the list are:")
for pizza in pizzas[:3]:
    print(pizza)

First three items in the list are:
papperoni
chicken fajita
crudo

In [20]:
#middle items of list
len(pizzas)

4

In [21]:
for a in pizzas[1:3]:
    print(a)

chicken fajita
crudo

In [22]:
for a in pizzas[-3:]:
    print(a)

chicken fajita
crudo
marinana

4-11. My Pizzas, Your Pizzas:

In [23]:
pizzas

['papperoni', 'chicken fajita', 'crudo', 'marinana']

In [24]:
# Make a copy of the list of pizzas, and call it friend_pizzas
friends_pizzas=pizzas[:]

In [25]:
# Add a new pizza to the original list.
pizzas.append("margherita")

In [26]:
# Add a different pizza to the list friend_pizzas.
friends_pizzas.append("carbonara")

In [28]:
# Prove that you have two separate lists
print("My favourite pizzas are")
for my in pizzas:
    print(my)
print("My friend's favourite pizzas are")
for friends in friends_pizzas:
    print(friends)

My favourite pizzas are
papperoni
chicken fajita
crudo
marinana
margherita
My friend's favourite pizzas are
papperoni
chicken fajita
crudo
marinana
carbonara

4-12. More Loops:

In [29]:
my_foods = ['pizza', 'falafel', 'carrot cake']
for foods in my_foods:
    print(foods)

pizza
falafel
carrot cake

In [30]:
my_friends = ['pizza', 'falafel', 'carrot cake', 'ice cream']
for friends in my_friends:
    print(friends)

pizza
falafel
carrot cake
ice cream

# Tuples

In [36]:
k=[2]               #trying to create a tuple with a single value
type(k)

list

In [32]:
o=(2)

In [33]:
type(o)

int

In [37]:
o=(2,)          #we use single comma to create a single value tuple
type(o)

tuple

4-13. Buffet:

In [38]:
# Think of five simple foods, and store them in a tuple.
restaurant_foods=("biryani","daal","karahi","pulao","halwa")

In [39]:
# Use a for loop to print each food the restaurant offers
for a in restaurant_foods:
    print(a)

biryani
daal
karahi
pulao
halwa

In [40]:
# Try to modify one of the items
restaurant_foods[-1]="kheer"

TypeError: 'tuple' object does not support item assignment

In [42]:
# Add a line that rewrites the tuple
restaurant_foods=("tikka","sabzi")
#         use a for loop to print
for a in restaurant_foods:
    print(a)

tikka
sabzi

# Styling Your Code

These are the methods to style and clean your code
1 - Indentation
2 - Line Length
3 - Blank Lines