2.1

In [3]:
message="My name is Sajid Munawar."
print(message)

My name is Sajid Munawar.

2.2

In [4]:
message="My name is Sajid Munawar."
print(message)
message="I'm a student."
print(message)

My name is Sajid Munawar.
I'm a student.

2-3. Personal Message

In [8]:
name="Sajid"
print(f"Hello {name}, would you like to learn some python today?")

Hello Sajid, would you like to learn some python today?

2-4. Name Cases

In [10]:
name="sajid munawar"
print(name.lower())
print(name.upper())
print(name.title())

sajid munawar
SAJID MUNAWAR
Sajid Munawar

2-5. Famous Quote

In [12]:
name="Albert Einstein"
qoute="“A person who never made a mistake never tried anything new.”"
print(f"{name} once said, {qoute}")

Albert Einstein once said, “A person who never made a mistake never tried anything new.”

2-6. Famous Quote 2:

In [13]:
famous_name="Albert Einstein"
famous_qoute="“A person who never made a mistake never tried anything new.”"
message=f"{famous_name} once said, {famous_qoute}"
print(message)

Albert Einstein once said, “A person who never made a mistake never tried anything new.”

2-7. Stripping Names

In [13]:
my_name=" \tsajid munawar\tali  "
print(my_name ,end=".")
print(my_name.rstrip() ,end=".")
print(my_name.lstrip() ,end=".")
print(my_name.strip() ,end=".")

 	sajid munawar	ali  . 	sajid munawar	ali.sajid munawar	ali  .sajid munawar	ali.

In [14]:
0.2 + 0.1

0.30000000000000004

In [15]:
universe_age = 14_000_000_000

In [16]:
print(universe_age)

14000000000

2-8. Number Eight

In [19]:
print(7+1,10-2,4*2,40//5,sep="\n")

8
8
8
8

2-9. Favorite Number

In [21]:
fav_num=8
print(f"My favourite number is {fav_num}")

My favourite number is 8

2-10. Adding Comments:

In [22]:
#this function will print my name as well
print("Sajid Munawar")

Sajid Munawar