In [1]:
[i for i in range(1,10) if i%2!=0]

[1, 3, 5, 7, 9]

In [2]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [3]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [5]:
# nested if 
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [1]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## with single if condition

In [2]:
[x for x in range(10) if x>5]

[6, 7, 8, 9]

## with else

In [8]:
[f"{x} is even" if x%2==0 else f"{x} is odd" for x in range(10)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd']

In [9]:
alist=[1,2,3,4,5]
[x for x in alist]

[1, 2, 3, 4, 5]

In [33]:
alist=[23,54,65,45,94,88]

In [15]:
["A" if x>=50  else "C" for x in alist ]

['C', 'A', 'A', 'C', 'A', 'A']

In [24]:
["A" if x>=90 else "B" if x>=80  else "C" if x>=70 else "D" if x>=60  else "E" if x>=50  else "F"  for x in alist ]

['F', 'E', 'D', 'F', 'A', 'B']

In [38]:
x=int(input("Enter x"))
["<10" if x<10 else "<20" if x<20 else "<30" if x<30 else x for x in range(1)]

Enter x44

['<10']

In [51]:
alist=[65,76,55,98,76,34]
[f"{x} Grade A" if x>=90 else f"{x} Grade B" if x>=80  else f"{x} Grade C" if x>=70 else f"{x} Grade D" if x>=60  else f"{x} Grade E" if x>=50  else f"{x} Grade F"  for x in alist ]

['65 Grade D',
 '76 Grade C',
 '55 Grade E',
 '98 Grade A',
 '76 Grade C',
 '34 Grade F']